<div class="w-full min-h-screen flex flex-wrap justify-center items-center gap-10 bg-blue-950 text-white">
  <div class="card px-8 py-4 w-72 h-96 my-4 text-gray-500 rounded-lg bg-cover bg-[url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=1380&t=st=1713269309~exp=1713269909~hmac=fe20d01017785633bd12d9923545455e5a68626c07336aeaa2ce2e25c1478ccd')]">
    <h3 class="text-blue-600 font-bold mb-2">Start-Up</h3>
    <h3 class="text-blue-600 font-extrabold mb-2">Free Forever</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis numquam in tempore eos! Soluta, nisi!</p>
    <ul class="my-2 space-y-2">
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>50GB File Storage</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>500 Emails per day</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>10 Workflows</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>Deal Pipeline</span></li>
    </ul>
    <div class="hover:transition-all hover:cursor-pointer text-center border border-blue-600 px-4 py-2 rounded-3xl text-blue-600 hover:text-white hover:bg-blue-600">
      Request a demo
    </div>
  </div>
  <div class="card px-8 py-4 w-72 h-96 my-4 text-gray-500 rounded-lg bg-cover bg-[url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=1380&t=st=1713269309~exp=1713269909~hmac=fe20d01017785633bd12d9923545455e5a68626c07336aeaa2ce2e25c1478ccd')]">
    <h3 class="text-blue-600 font-bold mb-2">Start-Up</h3>
    <h3 class="text-blue-600 font-extrabold mb-2">Free Forever</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis numquam in tempore eos! Soluta, nisi!</p>
    <ul class="my-2 space-y-2">
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>50GB File Storage</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>500 Emails per day</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>10 Workflows</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>Deal Pipeline</span></li>
    </ul>
    <div class="hover:transition-all hover:cursor-pointer text-center border border-blue-600 px-4 py-2 rounded-3xl text-blue-600 hover:text-white hover:bg-blue-600">
      Request a demo
    </div>
  </div>
  <div class="card px-8 py-4 w-72 h-96 my-4 text-gray-500 rounded-lg bg-cover bg-[url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=1380&t=st=1713269309~exp=1713269909~hmac=fe20d01017785633bd12d9923545455e5a68626c07336aeaa2ce2e25c1478ccd')]">
    <h3 class="text-blue-600 font-bold mb-2">Start-Up</h3>
    <h3 class="text-blue-600 font-extrabold mb-2">Free Forever</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis numquam in tempore eos! Soluta, nisi!</p>
    <ul class="my-2 space-y-2">
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>50GB File Storage</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>500 Emails per day</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>10 Workflows</span></li>
      <li><i class="fa-solid fa-check text-blue-600 mr-2"></i><span>Deal Pipeline</span></li>
    </ul>
    <div class="hover:transition-all hover:cursor-pointer text-center border border-blue-600 px-4 py-2 rounded-3xl text-blue-600 hover:text-white hover:bg-blue-600">
      Request a demo
    </div>
  </div>
  
</div>